<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>real-time-analytics</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginPage</display-name>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>in.datalayer.pages.LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutPage</display-name>
    <servlet-name>LogoutPage</servlet-name>
    <servlet-class>in.datalayer.pages.LogoutPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutPage</servlet-name>
    <url-pattern>/LogoutPage</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoggingFilter</display-name>
    <filter-name>LoggingFilter</filter-name>
    <filter-class>in.datalayer.analytics.LoggingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoggingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>in.datalayer.analytics.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <servlet-name>LoginPage</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>in.datalayer.analytics.LogAllSessionListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>DisplaySessionsPage</display-name>
    <servlet-name>DisplaySessionsPage</servlet-name>
    <servlet-class>in.datalayer.pages.DisplaySessionsPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySessionsPage</servlet-name>
    <url-pattern>/DisplaySessionsPage</url-pattern>
  </servlet-mapping>
</web-app>