<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>my-cities-data</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StartSession</display-name>
    <servlet-name>StartSession</servlet-name>
    <servlet-class>in.datalayer.pages.StartSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartSession</servlet-name>
    <url-pattern>/StartSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EndSession</display-name>
    <servlet-name>EndSession</servlet-name>
    <servlet-class>in.datalayer.pages.EndSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EndSession</servlet-name>
    <url-pattern>/EndSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSessionData</display-name>
    <servlet-name>AddSessionData</servlet-name>
    <servlet-class>in.datalayer.pages.AddSessionData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSessionData</servlet-name>
    <url-pattern>/AddSessionData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadSessionData</display-name>
    <servlet-name>ReadSessionData</servlet-name>
    <servlet-class>in.datalayer.pages.ReadSessionData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadSessionData</servlet-name>
    <url-pattern>/ReadSessionData</url-pattern>
  </servlet-mapping>
</web-app>