<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>news-app</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewsCompanyPage</display-name>
    <servlet-name>NewsCompanyPage</servlet-name>
    <servlet-class>in.datalayer.pages.NewsCompanyPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsCompanyPage</servlet-name>
    <url-pattern>/NewsCompanyPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermitPage</display-name>
    <servlet-name>PermitPage</servlet-name>
    <servlet-class>in.datalayer.pages.PermitPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermitPage</servlet-name>
    <url-pattern>/PermitPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DaysNews</display-name>
    <servlet-name>DaysNews</servlet-name>
    <servlet-class>in.datalayer.pages.DaysNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DaysNews</servlet-name>
    <url-pattern>/DaysNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>APNews</display-name>
    <servlet-name>APNews</servlet-name>
    <servlet-class>in.datalayer.pages.APNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>APNews</servlet-name>
    <url-pattern>/APNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MidDayNews</display-name>
    <servlet-name>MidDayNews</servlet-name>
    <servlet-class>in.datalayer.pages.MidDayNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MidDayNews</servlet-name>
    <url-pattern>/MidDayNews</url-pattern>
  </servlet-mapping>
</web-app>